'''
Configuration file for JMeter setup.
'''

# JMeter
VERSION = '2.13'
SOURCE = 'https://archive.apache.org/dist/jmeter/binaries/'
PATH_TO_INSTALL = ''

# JMeter plugins
PLUGINS_SOURCE = 'http://jmeter-plugins.org/downloads/file/'
PLUGINS = {
    'Plugins Standard': {
        'install': True,
        'version': '1.2.1',
        'file_name': 'JMeterPlugins-Standard'
    },
    'Server Agent': {
        'install': False,
        'version': '2.2.1',
        'file_name': 'ServerAgent'
    },
    'Plugins Extras': {
        'install': False,
        'version': '1.2.1',
        'file_name': 'JMeterPlugins-Extras'
    },
    'Plugins Extras Libs': {
        'install': False,
        'version': '1.2.1',
        'file_name': 'JMeterPlugins-ExtrasLibs'
    },
    'Plugins WebDriver': {
        'install': False,
        'version': '1.2.1',
        'file_name': 'JMeterPlugins-WebDriver'
    },
    'Plugins Hadoop': {
        'install': False,
        'version': '1.2.1',
        'file_name': 'JMeterPlugins-Hadoop'
    }
}
